{% extends "layout.html" %}

{% block content %}
<script>

    $(document).ready(function(){

    $('table').tablesort()
    });

</script>


<!-- selain json, bisajuga html5 fetch dan axios -->



<table class="ui sortable celled table">
        <thead>
            <tr>
                <th>Anime title</th>
                <th class="sorted ascending">Users reccomendation collective</th>
                <th>Anime total</th>
            </tr>
        </thead>
        <tbody>
          {% for dt in data %}
          <tr>

            <td><a href="https://myanimelist.net/anime/{{dt[0]}}">{{ dt[1] }}</a></td>
            <td>{{ dt[2] }}</td>
            <td>{{ dt[3] }}</td>
          </tr>
          {% endfor %}

        </tbody>

    </table>

    <br>
    <br>




{% endblock %}
