{% extends "layout.html" %}

{% block content %}
<script>

    $(document).ready(function(){

    $('table').tablesort()
    });

</script>


<!-- selain json, bisajuga html5 fetch dan axios -->


	
<br>


<div class="ui grid">


              <div class="eight wide column">
                <table class="ui inverted teal table">
        <thead>
            <tr>
                <th></th>
                <th>Anime title</th>
                <th class="sorted ascending">Users collective</th>
                <th>Anime total</th>
            </tr>
        </thead>
        <tbody>
          

          {% for dt in data %}
          <tr style="{{dt[4]}}">
            <td>{{loop.index}}</td>
            <td><a href="https://myanimelist.net/anime/{{dt[0]}}" style="color: rgb(255,255, 255)">{{ dt[1] }}</a></td>
            <td>{{ dt[2] }}</td>
            <td>{{ dt[3] }}</td>
          </tr>
          {% endfor %}

        </tbody>

</table>
              </div>






              <div class="eight wide column">
                <table class="ui inverted teal table">
        <thead>
            <tr>
                <th></th>
                <th>Anime title</th>
                <th class="sorted ascending">Users total * Anime total</th>
            </tr>
        </thead>
        <tbody>

          {% for dt in data2 %}
          <tr style="{{dt[3]}}">
            <td>{{loop.index}}</td>
            <td><a href="https://myanimelist.net/anime/{{dt[0]}}" style="color: rgb( 255, 255, 255)">{{ dt[1] }}</a></td>
            <td>{{ dt[2] }}</td>
          </tr>
          {% endfor %}

        </tbody>

</table>	
              </div>


</div>



<div class="ui grid">


              <div class="sixteen wide column">
                <a type="submit" href="/" class="fluid ui button primary">Back</a>
              </div>


</div>

    <br>
    <br>




{% endblock %}
