{% extends "layout.html" %}

{% block content %}
<script>


</script>


<!-- selain json, bisajuga html5 fetch dan axios -->
<h1>Berikut ini anime yg anda ketikan</h1>


<table class="ui celled table" style="width:100%">
        <thead>
            <tr>
                <th>Anime title</th>
                <th>Users reccomendation collective</th>
                <th>Anime total</th>
            </tr>
        </thead>
        <tbody>
          {% for dt in data %}
          <tr>
            <td>{{ dt[0] }}</td>
            <td>{{ dt[1] }}</td>
            <td>{{ dt[2] }}</td>
          </tr>
          {% endfor %}

        </tbody>

    </table>




{% endblock %}
