{% extends "layout.html" %}

{% block content %}
<script>

  $(document).ready(function(){

  $('table').tablesort()
  });
</script>


<br>
<br>

<div class="ui grid">

  

<div class="three wide column"></div>
            
<div class="ten wide column">

<form class="fluid ui form" action="/result" method="POST" enctype="multipart/form-data">
  <div class="ui inverted segment" style="background:#34495e;">
  <div class="ui inverted form">
    <h2>MyAnimeList Reccomendation</h2>

    <div class="three fields">

    <div class="field">

      <div class="field">
        <input type="text" style="background-color: #3498db;" name="anime1" placeholder="Tulis kode anime" value="-">
      </div>
      <br>
      <div class="field">
        <input type="text" style="background-color: #3498db;"  name="anime2" placeholder="Tulis kode anime" value="-">
      </div>
      <br>
      <div class="field">
        <input type="text" style="background-color: #3498db;" name="anime3" placeholder="Tulis kode anime" value="-">
      </div>
      <br>
      <div class="field">
        <input type="text" style="background-color: #3498db;" name="anime4" placeholder="Tulis kode anime" value="-">
      </div>
      <br>
      <div class="field">
        <input type="text" style="background-color: #3498db;" name="anime5" placeholder="Tulis kode anime" value="-">
      </div>

    </div>

    <div class="field">

      <div class="field">
        <input type="text" style="background-color: #3498db;" name="anime6" placeholder="Tulis kode anime" value="-">
      </div>
      <br>
      <div class="field">
        <input type="text" style="background-color: #3498db;" name="anime7" placeholder="Tulis kode anime" value="-">
      </div>
      <br>
      <div class="field">
        <input type="text" style="background-color: #3498db;" name="anime8" placeholder="Tulis kode anime" value="-">
      </div>
      <br>
      <div class="field">
        <input type="text" style="background-color: #3498db;" name="anime9" placeholder="Tulis kode anime" value="-">
      </div>
      <br>
      <div class="field">
        <input type="text" style="background-color: #3498db;" name="anime10" placeholder="Tulis kode anime" value="-">
      </div>

    </div>

    <div class="field">

      <div class="field">
        <input type="text" style="background-color: #3498db;" name="anime11" placeholder="Tulis kode anime" value="-">
      </div>
      <br>
      <div class="field">
        <input type="text" style="background-color: #3498db;" name="anime12" placeholder="Tulis kode anime" value="-">
      </div>
      <br>
      <div class="field">
        <input type="text" style="background-color: #3498db;" name="anime13" placeholder="Tulis kode anime" value="-">
      </div>
      <br>
      <div class="field">
        <input type="text" style="background-color: #3498db;" name="anime14" placeholder="Tulis kode anime" value="-">
      </div>
      <br>
      <div class="field">
        <input type="text" style="background-color: #3498db;" name="anime15" placeholder="Tulis kode anime" value="-">
      </div>

    </div>

    </div>

    <button class="fluid ui olive button" type="submit">Submit</button>
  </div>
</div>

</form>

</div>
<div class="three wide column"></div>



</div>


{% endblock %}
