{% extends "layout.html" %}

{% block content %}
<script>

  $(document).ready(function(){

  $('table').tablesort()
  });
</script>


<br>
<br>


<form class="ui form" action="/result" method="POST" enctype="multipart/form-data">
  <div class="ui inverted segment" style="background:#34495e;">
  <div class="ui inverted form">
    <h2>MyAnimeList Reccomendation</h2>

      <div class="field">
        <input type="text" name="anime1" placeholder="Tulis kode anime" value="-">
      </div>
      <div class="field">
        <input type="text" name="anime2" placeholder="Tulis kode anime" value="-">
      </div>
      <div class="field">
        <input type="text" name="anime3" placeholder="Tulis kode anime" value="-">
      </div>
      <div class="field">
        <input type="text" name="anime4" placeholder="Tulis kode anime" value="-">
      </div>
      <div class="field">
        <input type="text" name="anime5" placeholder="Tulis kode anime" value="-">
      </div>

      <div class="field">
        <input type="text" name="anime6" placeholder="Tulis kode anime" value="-">
      </div>
      <div class="field">
        <input type="text" name="anime7" placeholder="Tulis kode anime" value="-">
      </div>
      <div class="field">
        <input type="text" name="anime8" placeholder="Tulis kode anime" value="-">
      </div>
      <div class="field">
        <input type="text" name="anime9" placeholder="Tulis kode anime" value="-">
      </div>
      <div class="field">
        <input type="text" name="anime10" placeholder="Tulis kode anime" value="-">
      </div>

      <div class="field">
        <input type="text" name="anime11" placeholder="Tulis kode anime" value="-">
      </div>
      <div class="field">
        <input type="text" name="anime12" placeholder="Tulis kode anime" value="-">
      </div>
      <div class="field">
        <input type="text" name="anime13" placeholder="Tulis kode anime" value="-">
      </div>
      <div class="field">
        <input type="text" name="anime14" placeholder="Tulis kode anime" value="-">
      </div>
      <div class="field">
        <input type="text" name="anime15" placeholder="Tulis kode anime" value="-">
      </div>

    <button class="ui button primary" type="submit">Submit</button>
  </div>
</div>

</form>


{% endblock %}
