<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>MAL Reccomendation</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
  <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
  <link rel="stylesheet" src="https://cdn.datatables.net/1.10.21/css/dataTables.semanticui.min.css" />
</head>

<body>
  <div class="ui container">
    <h2>MyAnimeList Reccomendation</h2>

    {% block content %}
    {% endblock %}
  </div>



</body>

</html>
